
<!DOCTYPE html>
<html lang="en" class=" scrollbar-type-1 sb-cyan">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title>
        {% block title %}Tableau de bord | Courriel-BOX{% endblock title %}
    </title>

    <script>
        window.on_page_functions = [];
    </script>
</head>
<body class="m4-cloak h-vh-100">

<div style="min-height: 660px">
    {% block main-body %} <h1>Bonjour, nous somme le  {{ today  }} </h1>{% endblock %}
</div>
</body>
</html>